<!DOCTYPE html>
<html lang="es">
<head>
 	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />
	
	<title>Mercado Liebre Argentina</title>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/app.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <%- include("./partials/header") %>
    <main class="container-products-wrapper">
        <div class="row">
            <div class="col-12.col-lg-8">
              <h2><%= producto.nombre %></h2>
              <img src="/images/products/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-detail-img">
                <p><%= producto.descripcion %></p>
            </div>

            <div class="col-12.col-lg-4">
                <h3>Comentarios</h3>

<% let comentarios = producto.comentarios ; %>

<% if (comentarios.length > 0) { %>
  <% for (let i = 0; i < comentarios.length; i++) { %>
    <div class="comment">
      <img src="/images/users/<%= comentarios[i].imagenPerfil %>" alt="perfil" class="comment-img"> 
      <strong><%= comentarios[i].usuario %>:</strong>
      <span><%= comentarios[i].texto %></span>
    </div>
  <% } %>
<% } else { %>
  <p>No hay comentarios.</p>
<% } %>

        </div>
    </main>

    <%- include("./partials/footer") %>
</body>
</html>
