<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= producto.nombre %> - Mercado Liebre</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <%- include("./partials/header") %>
    <main class="container-products-wrapper">
        <div class="row">
            <div class="col-12 col-lg-8">
                <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-detail-img">
                <h2><%= producto.nombre %></h2>
                <p><%= producto.descripcion %></p>
            </div>

            <div class="col-12 col-lg-4">
                <h3>Comentarios</h3>

<% let comentarios = []; %>
<% if (producto.comentarios) { comentarios = producto.comentarios; } %>

<% if (comentarios.length > 0) { %>
  <% for (let i = 0; i < comentarios.length; i++) { %>
    <div class="comments">
      <img src="<%= comentarios[i].imagen %>" alt="perfil" class="comment-img">
      <strong><%= comentarios[i].usuario %>:</strong>
      <span><%= comentarios[i].texto %></span>
    </div>
  <% } %>
<% } else { %>
  <p>No hay comentarios.</p>
<% } %>

        </div>
    </main>

    <%- include("./partials/footer") %>
</body>
</html>
